body {
	font-family: sans-serif;
	line-height: 140%;
}
pre {
    font-size: 140%;
}
#footer {
	line-height: 20px;
}
#footer a {
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}



#page {
    padding: 0;
		width: 100%;
}
#content {
    padding: 1em;
    min-height: 30em;
}

#footer {
    width: 100%;
		position: absolute;
		bottom: 0;
}


#nav li div {
padding: 2px 8px;
height: 24px;
cursor: default;
}
.nav_selected {
background-color: #AAA; color: white;
}
#tableframe
{
  position: absolute;
  top: 160px;
  left: 20px;
  right: 20px;
  bottom: 50px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: auto;
  
}

.table_controls {
  position: absolute;
  bottom: 40px;
}

.table_meta {
  position: absolute;
  right: 100px;
  bottom: 40px;
}

#banner {
    background: #AB7A41;
}
#footer {
	border-top: 1px solid #BBB;
	background: #efefef;
	color: #666;
}
#footer a {
	text-decoration: none;
	color: #666;
}

#footer a:hover {
	text-decoration: underline;
	color: #666;
}

#main_menu a {
	color: #666;
}






#banner h1 {
    color: #aa3f31;
    padding: .2em;
    margin-top: 0;
}

table.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 9pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 9pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
  /*
	background-image: url('data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==');
	*/
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.pointer {
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
/*
table.tablesorter thead tr .headerSortUp {
	background-image: url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7');
}
*/
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}




.button-basic-blue a
{
    padding: .2em .4em;
    background-color: #F1F1F1;
    color: #0066B9;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: #0066B9;
    margin: .5em;
    cursor: pointer;
}


.button-basic-green a
{
    padding: .2em .4em;
    background-color: #66FF99;
    color: #009900;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: #009900;
    margin: .5em;
    cursor: pointer;
}


.button-basic-black a
{
    padding: .2em .4em;
    background-color: grey;
    color: black;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: .5em;
    cursor: pointer;
}






table {
	/* border-spacing: 0; */
	/* padding: 0; */
	border-collapse: collapse; /* for IE */
}



