.block
  .content
    .inner
      %table.table
        %thead
          %tr
            %th.first Name
            %th.last Address 
        %tbody
          -# resource_class.root.children.each do |acc|
            -#  =render(:partial => 'account_row', :locals => {:acc => acc, :level => 0})
      .actions-bar.wat-cf
        .actions
          .wat-cf
