.block
  .content
    .inner
      %table.table
        %thead
          %tr
            %th.first Name
            %th.last Address 
        %tbody
          - collection.each do |acc|
            %tr
              %td
              %td= acc.address

      .actions-bar.wat-cf
        .actions
          .wat-cf
